/*--------------------------Tag Selectors--------------------------*/
a {
    color: #183A1D;
    text-decoration: none;
}

body {
    margin: 0px;
    text-align: center; 
    font-family: 'Cormorant Garamond', serif; 
    color: #183A1D;
    font-weight: bold;

}
h1 {
    margin: 50px auto 0 auto;
    font-family:'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    color: #F0A04B;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #F0A04B;
}

h3 {
    font-family: 'Libre Franklin', sans-serif;
    color: #183A1D;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #bbc5c5;
    border-width: 7px;
    width: 5%;
    margin: 100px auto;
}

p{
    font-size: 1.17rem;
    line-height: 2;
}


/*--------------------------Class Selectors--------------------------*/


.contact-me{
    width: 50%;
    margin: 0px auto;
    padding-bottom: 50px;
}

.intro{
   width: 30%;
   margin: 0 auto;
}

.profile{
    width: 50%;
    margin: 0px auto ;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.top-container {
    background-color: #FEFBE9;
    padding-top: 100px;
    position: relative;
}
.middle-container {
    margin: 100px 0;

}
.bottom-container {
    background-color: #FEFBE9;
    padding: 50px;
}
.rgb-img{
    width: 20%;
    float: left;
    margin-right: 30px;
}

.writing-img{
    width: 20%;
    float: right;
    margin-left: 30px;
}

.coding-img{
    width: 20%;
    float: left;
    margin-right: 30px;
}

.footer-link{
    font-size: 1.2rem ;
    padding: 20px;
    margin-bottom: 40px;
}

.ugly{
    margin: 50px 0 50px 0;
}

.less-ugly{
    margin-bottom: 100px;
}

.btn {
    background: #F0A04B;
    background-image: -webkit-linear-gradient(top, #F0A04B, #d18941);
    background-image: -moz-linear-gradient(top, #F0A04B, #d18941);
    background-image: -ms-linear-gradient(top, #F0A04B, #d18941);
    background-image: -o-linear-gradient(top, #F0A04B, #d18941);
    background-image: linear-gradient(to bottom, #F0A04B, #d18941);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #a5db93;
    background-image: -webkit-linear-gradient(top, #a5db93, #183A1D);
    background-image: -moz-linear-gradient(top, #a5db93, #183A1D);
    background-image: -ms-linear-gradient(top, #a5db93, #183A1D);
    background-image: -o-linear-gradient(top, #a5db93, #183A1D);
    background-image: linear-gradient(to bottom, #a5db93, #183A1D);
    text-decoration: none;
  }
/*--------------------------ID Selectors--------------------------*/

#cloudLow{
    position: absolute;
    bottom: 300px;
    left: 450px;
}

#cloudHigh{
    position: absolute;
    right: 475px;
    top: 50px;
}

